body {
  margin: 2em 1em 2em 70px;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

th, td { /* ns 4 */
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 { text-align: left }
h1, h2, h3 { color: #005A9C }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }
div.head img { color: white; border: none } /* remove border from top image */

p.copyright { font-size: small }
p.copyright small { font-size: small }

@media screen {  /* hide from IE3 */
a:hover { background: #ffa } 
}

dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt { font-weight: bold }

pre, code { font-family: monospace } /* navigator 4 requires this */

ul.toc {
  list-style: disc;		/* Mac NS has problem with 'none' */
  list-style: none;
}

@media aural {  
  h1, h2, h3 { stress: 20; richness: 90 }
  .hide { speak: none }
  p.copyright { volume: x-soft; speech-rate: x-fast }
  dt { pause-before: 20% }
  pre { speak-punctuation: code } 
}

/* Things (icons) that should only show up in projection mode */
.projection { display: none }
@media projection { .projection { display: inline } }

div.example {
    width: 100%;
    color: black;
}
div.dtd-example {
    width: 100%;
    color: black;
}
tt.example {
    color: maroon;
    margin-left: 1em;
}
pre {
    color: maroon;
}
div.dtd-fragment {
    width: 100%;
    border: none;
    background-color: #eee;
}
pre.dtd-fragment {
    margin-left: 0;
}
pre.dtd {
    color: black;
    margin-left: 0;
}
div.illegal-example {
    width: 100%;
    color: red;
    border: solid red;
}
div.illegal-example p {
    color: black;
}
div.deprecated-example {
    width: 100%;
    color: red;
    border: solid rgb(255,165,0); /* orange */
}
div.deprecated-example p {
    color: black;
}
div.note {
    color: green;
    margin-left: 1em;
}
p.note {
    color: green;
    margin-left: 1em;
}
ul.toc {
    list-style-type: none;
}

a.normref { 
    color : red;
}	

a.informref {
    color : green;
}	

DIV.subtoc {padding: 1em; border: solid thin; margin: 1em 0;
    background: #ddd}
